header {
    min-height: 200px;
    margin-bottom: 60px;
}

header img {
    width: 250px;
}

.navbar {
    background-color: #0d6efd;
}

nav a {
    color: white!important;
    font-size: 21px;
    padding: 10px 20px;
}

#main {
    min-height: 350px;
}

h1 {
  color: #0d6efd;
}

button a {
    text-decoration: none;
}

#homeworkerfassen, button {
    color: white;
}

form {
    width: 400px;
}

footer {
    min-height: 200px;
    margin-top: 50px;
    background-color: black;
}
