header {
    min-height: 200px;
    margin-bottom: 60px;
}

header img {
    width: 170px;
}

.navbar {
    background-color: #0d6efd;
}

nav a {
    color: white!important;
    font-size: 21px;
    padding: 10px 30px!important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#main {
    min-height: 400px;
}

h1 {
  color: #0d6efd;
}

.card {
    background-color: #f9f9f9;
    min-height: 290px;
    border: 4px solid rgba(0,0,0,.125)!important
}

.cardhome {
    margin-top: 40px!important;
}

button a {
    text-decoration: none;
}

#homeworkerfassen, button {
    color: white;
}

form {
    width: 400px;
}

.formerfolgreich {
    margin-bottom: 50px;
    width: 100%;
}

/*Überblick Anzahl Hausaufgaben */
.accordion-flush .accordion-item {
    position: relative!important;
}
.accodion-anzahl {
    position: absolute;
    z-index: 4;
    right: 250px;
    font-size: 12px;
    font-style: italic;
    top: 18px;
}

footer {
    min-height: 200px;
    margin-top: 50px;
    background-color: #dee2e6;
}

footer p {
    padding: 40px 0;
    text-align: center;
    font-style: italic;
}
