<!DOCTYPE html>
<html lang="de">
 {% include "header.html" %}
	<body>
		<div id="main" class="container">
			<h1>Überblick über aktuelle Hausaufgaben.</h1>
			<button type="button" class="btn btn-light formerfolgreich">{{erfolgreich}}</button>
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						Content Marketing und Storytelling
						</button>
					</h2>

					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlcontent}}</div>
					<div class="accodion-prozent">%-Anteil von Gesamtaufgaben: {{Anzcon}}%</div>
					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">{{contentmarketing}}
							<form class="formueberblick" method="POST" action="{{url_for('ueberblick')}}">
								<table class="table table-hover table-striped">
									<thead class="thead-dark">
										<th scope="col">Erledigt?</th>
										<th scope="col">Titel</th>
										<th scope="col">Fälligkeit</th>
										<th scope="col">Notizen</th>
										<th scope="col">Priorität</th>
									</thead>
									{% for eintrag in contentmarketing_list %}
									<tr style="background-color: {{ colour }}">
										<td>
											<div class="form-check">
												!--Formbuilder in Django https://docs.djangoproject.com/fr/2.2/topics/forms/-->
												<input class="form-check-input" type="radio" name="Nein" id="flexRadioDefault5" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault1">nein</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Ja" id="flexRadioDefault6" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault2">ja</label>
											</div>
										</td>
										<td>{{ eintrag[1]}}</td>
										<td>{{ eintrag[2]}}</td>
										<td>{{ eintrag[3]}}</td>
										<td>{{ eintrag[4]}}</td>
									</tr>
									{% endfor %}
								</table>
							<button class="btn btn-primary" type="submit">Speichern</button>
							</form>
						</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingTwo">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
						Digital Marketing
						</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahldigital}}</div>
					<div class="accodion-prozent">%-Anteil von Gesamtaufgaben: {{Anzdigma}}%</div>
					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{digitalmarketing}}
							<form class="formueberblick" method="POST" action="{{url_for('ueberblick')}}">
								<table class="table table-hover table-striped">
									<thead class="thead-dark">
										<th scope="col">Erledigt?</th>
										<th scope="col">Titel</th>
										<th scope="col">Fälligkeit</th>
										<th scope="col">Notizen</th>
										<th scope="col">Priorität</th>
									</thead>
									{% for eintrag in digitalmarketing_list %}
									<tr>
										<td>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Nein" id="flexRadioDefault5" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault1">nein</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Ja" id="flexRadioDefault6" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault2">ja</label>
											</div>
										</td>
										<td>{{ eintrag[1]}}</td>
										<td>{{ eintrag[2]}}</td>
										<td>{{ eintrag[3]}}</td>
										<td>{{ eintrag[4]}}</td>
									</tr>
									{% endfor %}
								</table>
							<button class="btn btn-primary" type="submit" formaction="{{url_for('ueberblick')}}">Speichern</button>
							</form>
						</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingThree">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						Innovationsmanagement
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlinno}}</div>
					<div class="accodion-prozent">%-Anteil von Gesamtaufgaben: {{Anzinno}}%</div>
					<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{innovationsmanagement}}
							<form class="formueberblick" method="POST" action="{{url_for('ueberblick')}}">
								<table class="table table-hover table-striped">
									<thead class="thead-dark">
										<th scope="col">Erledigt?</th>
										<th scope="col">Titel</th>
										<th scope="col">Fälligkeit</th>
										<th scope="col">Notizen</th>
										<th scope="col">Priorität</th>
									</thead>
									{% for eintrag in innovationsmanagement_list %}
									<tr>
										<td>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Nein" id="flexRadioDefault5" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault1">nein</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Ja" id="flexRadioDefault6" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault2">ja</label>
											</div>
										</td>
										<td>{{ eintrag[1]}}</td>
										<td>{{ eintrag[2]}}</td>
										<td>{{ eintrag[3]}}</td>
										<td>{{ eintrag[4]}}</td>
									</tr>
									{% endfor %}
								</table>
							<button class="btn btn-primary" type="submit">Speichern</button>
							</form>
						</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingFour">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
						Nachhaltige Entwicklung
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlnachhaltig}}</div>
					<div class="accodion-prozent">%-Anteil von Gesamtaufgaben: {{Anznachhaltig}}%</div>
					<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{nachhaltigeentwicklung}}
							<form class="formueberblick" method="POST" action="{{url_for('ueberblick')}}">
								<table class="table table-hover table-striped">
									<thead class="thead-dark">
										<th scope="col">Erledigt?</th>
										<th scope="col">Titel</th>
										<th scope="col">Fälligkeit</th>
										<th scope="col">Notizen</th>
										<th scope="col">Priorität</th>
									</thead>
									{% for eintrag in nachhaltige_list %}
									<tr>
										<td>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Nein" id="flexRadioDefault5" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault1">nein</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Ja" id="flexRadioDefault6" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault2">ja</label>
											</div>
										</td>
										<td>{{ eintrag[1]}}</td>
										<td>{{ eintrag[2]}}</td>
										<td>{{ eintrag[3]}}</td>
										<td>{{ eintrag[4]}}</td>
									</tr>
									{% endfor %}
								</table>
							<button class="btn btn-primary" type="submit">Speichern</button>
							</form>
						</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingFive">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
						Product Management for Digital Business
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlproduct}}</div>
					<div class="accodion-prozent">%-Anteil von Gesamtaufgaben: {{Anzproduct}}%</div>
					<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{productmanagement}}
							<form class="formueberblick" method="POST" action="{{url_for('ueberblick')}}">
								<table class="table table-hover table-striped">
									<thead class="thead-dark">
										<th scope="col">Erledigt?</th>
										<th scope="col">Titel</th>
										<th scope="col">Fälligkeit</th>
										<th scope="col">Notizen</th>
										<th scope="col">Priorität</th>
									</thead>
									{% for eintrag in productmanagement_list %}
									<tr>
										<td>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Nein" id="flexRadioDefault5" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault1">nein</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Ja" id="flexRadioDefault6" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault2">ja</label>
											</div>
										</td>
										<td>{{ eintrag[1]}}</td>
										<td>{{ eintrag[2]}}</td>
										<td>{{ eintrag[3]}}</td>
										<td>{{ eintrag[4]}}</td>
									</tr>
									{% endfor %}
								</table>
							<button class="btn btn-primary" type="submit">Speichern</button>
							</form>
						</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingSix">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
						Programmierung 2
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlprog}}</div>
					<div class="accodion-prozent">%-Anteil von Gesamtaufgaben: {{Anzprog}}%</div>
					<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{programmieren}}
							<form class="formueberblick" method="POST" action="{{url_for('ueberblick')}}">
								<table class="table table-hover table-striped">
									<thead class="thead-dark">
										<th scope="col">Erledigt?</th>
										<th scope="col">Titel</th>
										<th scope="col">Fälligkeit</th>
										<th scope="col">Notizen</th>
										<th scope="col">Priorität</th>
									</thead>
									{% for eintrag in programmieren_list %}
									<tr>
										<td>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Nein" id="flexRadioDefault5" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault1">nein</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Ja" id="flexRadioDefault6" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault2">ja</label>
											</div>
										</td>
										<td>{{ eintrag[1]}}</td>
										<td>{{ eintrag[2]}}</td>
										<td>{{ eintrag[3]}}</td>
										<td>{{ eintrag[4]}}</td>
									</tr>
									{% endfor %}
								</table>
							<button class="btn btn-primary" type="submit">Speichern</button>
							</form>
						</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingSeven">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
						Projektmanagement 1
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlprojekt}}</div>
					<div class="accodion-prozent">%-Anteil von Gesamtaufgaben: {{Anzprojekt}}%</div>
					<div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{projektmanagement}}
							<form class="formueberblick" method="POST" action="{{url_for('ueberblick')}}">
								<table class="table table-hover table-striped">
									<thead class="thead-dark">
										<th scope="col">Erledigt?</th>
										<th scope="col">Titel</th>
										<th scope="col">Fälligkeit</th>
										<th scope="col">Notizen</th>
										<th scope="col">Priorität</th>
									</thead>
									{% for eintrag in projektmanagement_list %}
									<tr>
										<td>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Nein" id="flexRadioDefault5" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault1">nein</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Ja" id="flexRadioDefault6" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault2">ja</label>
											</div>
										</td>
										<td>{{ eintrag[1]}}</td>
										<td>{{ eintrag[2]}}</td>
										<td>{{ eintrag[3]}}</td>
										<td>{{ eintrag[4]}}</td>
									</tr>
									{% endfor %}
								</table>
							<button class="btn btn-primary" type="submit">Speichern</button>
							</form>
						</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingEight">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseThree">
						Requirements Engineering
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlreque}}</div>
					<div class="accodion-prozent">%-Anteil von Gesamtaufgaben: {{Anzreque}}%</div>
					<div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{requirements}}
							<form class="formueberblick" method="POST" action="{{url_for('ueberblick')}}">
								<table class="table table-hover table-striped">
									<thead class="thead-dark">
										<th scope="col">Erledigt?</th>
										<th scope="col">Titel</th>
										<th scope="col">Fälligkeit</th>
										<th scope="col">Notizen</th>
										<th scope="col">Priorität</th>
									</thead>
									{% for eintrag in requirements_list %}
									<tr>
										<td>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Nein" id="flexRadioDefault5" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault1">nein</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="Ja" id="flexRadioDefault6" value="{{ eintrag[1] }}">
												<label class="form-check-label" for="flexRadioDefault2">ja</label>
											</div>
										</td>
										<td>{{ eintrag[1]}}</td>
										<td>{{ eintrag[2]}}</td>
										<td>{{ eintrag[3]}}</td>
										<td>{{ eintrag[4]}}</td>
									</tr>
									{% endfor %}
								</table>
							<button class="btn btn-primary" type="submit">Speichern</button>
							</form>
						</div>
					</div>
			  	</div>
			</div>
		</div>

		{% include "footer.html" %}
	</body>
</html>