<!DOCTYPE html>
<html lang="de">
 {% include "header.html" %}
	<body>
		<div id="main" class="container">
			<h1>Überblick über aktuelle Hausaufgaben.</h1>
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						Content Marketing und Storytelling
						</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlcontent}}</div>
					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
							<p>{{contentmarketing}}</p>
						</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingTwo">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
						Digital Marketing
						</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahldigital}}</div>
					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{digitalmarketing}}</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingThree">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						Innovationsmanagement
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlinno}}</div>
					<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{innovationsmanagement}}</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingFour">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
						Nachhaltige Entwicklung
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlnachhaltig}}</div>
					<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{nachhaltigeentwicklung}}</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingFive">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
						Product Management for Digital Business
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlproduct}}</div>
					<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{productmanagement}}</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingSix">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
						Programmierung 2
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlprog}}</div>
					<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{programmieren}}</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingSeven">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
						Projektmanagement 1
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlprojekt}}</div>
					<div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{projektmanagement}}</div>
					</div>
			  	</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingEight">
				  		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseThree">
						Requirements Engineering
				  		</button>
					</h2>
					<div class="accodion-anzahl">Anzahl Einträge: {{anzahlreque}}</div>
					<div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
				  		<div class="accordion-body">{{requirements}}</div>
					</div>
			  	</div>
			</div>
		</div>

		{% include "footer.html" %}
	</body>
</html>